<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Air Quality Monitoring System - Public</title>
        <link th:href="@{/styles/cssandjs/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet">
    </head>
    <body>

        <div th:replace="fragments/header :: header">&nbsp;</div>

        <div class="container full-height">
            <h3>This page will contain public dashboard.</h3>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>