<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head_tag :: head_tag">&nbsp;</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="container-fluid sidebar-content">

    <div class="col-12">
        <div id="sensor_status" class="row col-6">
            <div class="col-8 pt-3 pb-3">

                <!-- Conditional Server Status -->
                <div th:if="${settings.serverRunning}">
                    <strong>Server Status: </strong><span th:if="${settings.serverRunning}" class="text-success">Running</span>
                </div>
                <div th:unless="${settings.serverRunning}">
                    <strong>Server Status: </strong><span class="text-danger">Stopped</span>
                </div>


                <strong>Refresh Interval: </strong><span class="text-info" th:text="|${settings.refreshIntervalSeconds} seconds|"></span>
                <br>
                <strong>Last Update: </strong><span class="text-info" th:text="${settings.lastUpdated}"></span>
                <br>
                <strong>Number of Stations: </strong><span class="text-info">141</span>
            </div>
            <div class="col-4">

                <!-- Conditions for Start / Stop Server-->
                <div th:if="${settings.serverRunning}">
                    <form th:method="POST" th:action="@{/admin/stopServer}">
                        <input type="submit" value="Stop Server" class="btn btn-danger" />
                    </form>
<!--                    <a href="#" class="btn btn-danger">Stop Server</a>-->
                </div>
                <div th:unless="${settings.serverRunning}">
                    <form th:method="POST" th:action="@{/admin/startServer}">
                        <input type="submit" value="Start Server" class="btn btn-success" />
                    </form>
                    <!--                    <a href="#" class="btn btn-danger">Stop Server</a>-->
                </div>

            </div>
        </div>
        <div id="stations" class="row col-12 mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabular">Tabular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#map">Map View</a>
                </li>
            </ul>
            <br>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="tabular">
                    <div id="stations-list" class="row mt-3">
                        <table class="table table-hover table-sm table-bordered">
                            <thead>
                            <tr class="table-primary">
                                <th scope="col">Station ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Area</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Station Type</th>
                                <th scope="col">PM2.5</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Last Updated</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-default table-sm" th:each="station : ${stations}">
                                <td th:text="${station.stationID}"></td>
                                <td th:text="${station.nameEN}"></td>
                                <td th:text="${station.areaEN}"></td>
                                <td th:text="${station.latitude}"></td>
                                <td th:text="${station.longitude}"></td>
                                <td th:text="${station.stationType}"></td>
                                <td th:text="${station.lastUpdate.PM25.value}"></td>
                                <td th:text="${station.lastUpdate.PM25.unit}"></td>
                                <td th:text="|${station.lastUpdate.date} ${station.lastUpdate.time}|"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="map">
                    <p>Map View</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

