<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Monitoring System</title>
    <link th:href="@{/styles/cssandjs/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
    <a class="navbar-brand" href="#">Air Quality Monitoring System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${module == 'dashboard' ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/}">Dashboard
<!--                    <span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li th:classappend="${module == 'features' ? 'active' : ''}" class="nav-item">
                <a class="nav-link" href="#" th:href="@{/features}">Features</a>
            </li>
            <li th:classappend="${module == 'our_team' ? 'active' : ''}" class="nav-item">
                <a class="nav-link" href="#" th:href="@{/ourTeam}">Our Team</a>
            </li>
            <li th:classappend="${module == 'about' ? 'active' : ''}" class="nav-item">
                <a class="nav-link" href="#" th:href="@{/about}">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li th:if="${#authorization.expression('!isAuthenticated()')}">
                <a class="btn btn-outline-secondary" href="/admin-login" th:href="@{/admin-login}">
                    Login
                </a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="btn btn-danger" href="/logout" th:href="@{/logout}" onclick="$('#form').submit();">
                    &nbsp;Logout
                </a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>